.calendar {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    position: absolute;
    top: 23px;
    left: 0;
    z-index: 1;
    width: calc(50vw - 108px);
}

.calendarNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    padding: 10px;
    margin: 2px;
    width: 100%;
    cursor: default;
    h3 {
        flex: 1 0 0;
    }
    .fas {
        cursor: pointer;
    }
}

.calendarDisplay {
    display: flex;
    flex-direction: column;
    height: 50vh;
    padding: 10px;
    margin: 2px;
    width: 100%;
    position: relative;
    .dayHeading {
        height: 10%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        h3 {
            display: flex;
            justify-content: center;
            text-align: center;
            padding: 10px;
            width: 100%;
        }
    }

    .dates {
        height: 90%;
        ul {
            display: grid;
            grid-template-columns: repeat(7, calc(100% / 7));
            text-align: center;
            height: 100%;
            padding: 0;
            margin: 0;
        }
    }
    .bookingInfo {
        position: absolute;
        background-color: $primaryColor;
        min-height: 100px;
        width: calc(100% - 20px);
        bottom: -100px;
        display: flex;
        justify-content: center;
        align-items: center;
        h2 {
            padding: 0 20px;
            color: whitesmoke;  
        } 
    }
    .bookingInfo.hidden {
        display: none;
    }
}

.calendarDisplay li {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(2, 12px);
    cursor: pointer;
    span {
        font-size: 2rem;
        font-weight: 700;
    }
}

.timeSelection {
    display: flex;
    align-items: center;
    transform: translateY(-300px);
    h3 {
        display: block;
    }
    .meridiem {
        width: 70px;
    }
}

#minuteInput {
    margin-right: 10px;
}
.submitButton {
    border-radius: 5px;
    background-color: $calendarPrimary;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-170px);
    height: 50px;
    width: 200px;
}

.hidden {
    display: none;
}
