.animationCanvas {
    position: absolute;
    top: 0;
    left: -2.5%;
    width: 105%;
    height: calc(75vh - 40px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primaryColor;
    border-radius: 50px;
    z-index: 1;
}
.tomatoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
    min-width: 500px;
    height: 40vw;
    min-height: 500px;
}
img#tomato {
    width: 40%;
    height: auto;
    object-fit: contain;
    transform: translate(-6px, 11px);
}

.draggable {
    position: absolute;
}
