// Setting up SASS variables......
$headingFont: "Raleway", sans-serif;
$bodyFont: "Quicksand", sans-serif;
// colors...
$primaryColor: #e5989b;
$secondaryColor: #500808;
$optionalColor: #200202;
$calendarPrimary: #f5f5f5;
$calendarSecondary: #3a3a3a;
$calendarTertiary: #2c2c2e;
$firstAccentColor: #b5838d;
$firstAccentGradient: rgba(181, 131, 141, 0.9);
$secondAccentColor: #6d6875;
$secondAccentGradient: rgba(109, 104, 117, 0.9);
$thirdAccentGradient: rgba(109, 104, 117, 0.9);

// MIXIN for fonts.........
@mixin fontDef($family: $headingFont, $sizeValue: 2rem, $weight: 400, $letterSpacing: 1.1px) {
    font-family: $family;
    font-size: $sizeValue;
    font-weight: $weight;
    letter-spacing: $letterSpacing;
}
