main{
    padding: 25px 0;
    margin-bottom: 20px;
    height: calc(75vh - 20px);
}

.options {
    display: grid; 
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, calc((75vh - 50px)/2));
    grid-gap: 10px;
    
}

.cities {
    background-color: $firstAccentGradient;
    border-top-left-radius: 50px;
    display: grid;
    grid-template-columns: 130px 130px;
    grid-row-gap: 25px;
    grid-column-gap: 25px;
    justify-content: center;
    align-content: center;
}

.cuisine {
    background-color: $secondAccentGradient;
    opacity: 0.8;
    border-top-right-radius: 50px;
    display: grid;
    grid-template-columns: 170px 130px;
    grid-column-gap: 25px;
    justify-content: center;
    align-content: space-evenly;
    
}

.preferences {
    background-color: $secondAccentGradient;
    border-bottom-left-radius: 50px;
    display: grid;
    grid-template-columns: 100px;
    grid-row-gap: 25px;
    justify-content: center;
    align-content: center;
}

.submission {
    background-color: $firstAccentGradient;
    opacity: 0.8;
    border-bottom-right-radius: 50px;
    display: grid;
    justify-content: center;
    align-content: center;
}


// Recommendation section.....
.recommendation{
    
    h2{
        padding: 20px 0;
    }

    ul{
        padding: 20px 0;
        display: grid;
        grid-template-columns: 2fr 2fr 2fr;
        grid-column-gap: 50px;
        grid-row-gap: 50px ;
    }
}
