main{
    padding: 25px 0;
    // margin-bottom: 20px;
    // height: calc(75vh - 20px);
    position: relative;
    .icon a{
        position: absolute;
        top: -30px;
        right: 100px ;
        &:hover,
        &:active,
        &:focus{
            background-color: transparent;
        }
    }
    i{
        font-size: 2.5rem;
        text-align: center;
        color: $secondaryColor;
        background-color: $firstAccentGradient;
        position: absolute;
        top:0;
        right: 0 ;
        border-radius: 50%;
        padding: 10px;

    }
}

.options {
    display: grid; 
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, calc((75vh - 50px)/2));
    grid-gap: 10px;
    flex: 1;
    
}

.cities,
.cuisine,
.preferences{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-content: center;
    grid-row-gap: 30px;
    grid-column-gap: 10px;
    overflow: scroll;
    padding: 15px;
    label{
        display:flex;
        justify-content: center;
        align-items: center;
        h2{
            padding: 5px;
        }    
    }
}

.cities {
    background-color: $firstAccentGradient;
    border-top-left-radius: 50px;
}



.cuisine {
    background-color: $secondAccentGradient;
    border-top-right-radius: 50px;   
}

.preferences {
    background-color: $secondAccentGradient;
    border-bottom-left-radius: 50px;
    grid-template-columns: 100px;
}


.submission {
    background-color: $firstAccentGradient;
    border-bottom-right-radius: 50px;
    display: grid;
    justify-content: center;
    align-content: center;
}


// Recommendation section.....
.recommendation{
    background-color: $thirdAccentGradient;
    overflow: scroll;
    flex: 1;
    border-radius: 50px;
    height: calc(75vh - 30px);
    margin-left: 30px;
    padding: 15px;
    h2{
        padding: 20px 0;
    }

    ul{
        display: flex;
        flex-wrap: wrap;
        padding: 20px 0;
        li{
            margin-right: 15px;
            width: calc((100% - 30px) / 3);
        }
    }
}

.recommendation li:nth-of-type(3n){
    margin-right: 0;
}

.flexContainer{
    display: flex;
    .options{
        width: 100vw;
    }
}
