// HEADING styles........
h1{
    @include fontDef($headingFont, 6.4rem, 400, 6.4rem, 1.6px);
    color: $secondaryColor;
    text-align: right;
}

h2{
    @include fontDef($extraFont, 4.8rem, 400, 6.4rem, 1.6px);
    color: $secondaryColor;
    text-align: center;
}

p,
footer,
label,
.submit,
.recommendation li{
    @include fontDef($bodyFont, 2rem ,400 ,3.2rem ,1.1px);
    color: $optionalColor;
    text-align: center;
    list-style: none;
    a{
        text-decoration: none;
        color: $optionalColor;
    }
}

.submit{
    font-size: 2rem;
    padding: 10px 40px;
    border-radius: 30px;
    background-color: $primaryColor;
    border: 2px solid $firstAccentColor;
    box-shadow: 5px 5px $secondAccentColor;
}


footer p{
    text-align: right;
}



// Checkbox selection.....
input:checked + label{
    background-color: $primaryColor;
    opacity: 0.7;
    border-radius: 15px;
    box-shadow: 5px 5px $secondAccentColor;
}

.cuisine input:checked + label,
.preferences input:checked + label{
    box-shadow: 5px 5px $secondaryColor;
}


// HOVER styles....
a:hover,
a:focus,
a:active{
    border-bottom: 2px solid $secondaryColor;
}

.submit:hover,
.submit:focus,
.submit:active{
    font-weight: bold;
    color: $secondaryColor;
    box-shadow: 0 0 $secondAccentColor;
    background-color: $secondAccentColor;
    border: 2px solid $secondAccentColor

}



