html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

.wrapper {
  width: calc(100vw - 50px);
  max-width: 1280px;
  margin: 0 auto;
}

body {
  background-image: url("../assets/brookeLarkHeader.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

h1 {
  font-family: "Raleway", sans-serif;
  font-size: 6.4rem;
  font-weight: 400;
  line-height: 6.4rem;
  letter-spacing: 1.6px;
  color: #500808;
  text-align: right;
}

h2 {
  font-family: "Satisfy", cursive;
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 6.4rem;
  letter-spacing: 1.6px;
  color: #500808;
  text-align: center;
}

p,
footer,
label,
.submit,
.recommendation li {
  font-family: "Quicksand", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 3.2rem;
  letter-spacing: 1.1px;
  color: #200202;
  text-align: center;
  list-style: none;
}

p a,
footer a,
label a,
.submit a,
.recommendation li a {
  text-decoration: none;
  color: #200202;
}

.submit {
  font-size: 2rem;
  padding: 10px 40px;
  border-radius: 30px;
  background-color: #E5989B;
  border: 2px solid #B5838D;
  -webkit-box-shadow: 5px 5px #6D6875;
          box-shadow: 5px 5px #6D6875;
}

footer p {
  text-align: right;
}

input:checked + label {
  background-color: #E5989B;
  opacity: 0.7;
  border-radius: 15px;
  -webkit-box-shadow: 5px 5px #6D6875;
          box-shadow: 5px 5px #6D6875;
}

.cuisine input:checked + label,
.preferences input:checked + label {
  -webkit-box-shadow: 5px 5px #500808;
          box-shadow: 5px 5px #500808;
}

a:hover,
a:focus,
a:active {
  border-bottom: 2px solid #500808;
}

.submit:hover,
.submit:focus,
.submit:active {
  font-weight: bold;
  color: #500808;
  -webkit-box-shadow: 0 0 #6D6875;
          box-shadow: 0 0 #6D6875;
  background-color: #6D6875;
  border: 2px solid #6D6875;
}

header {
  height: 20vh;
}

header h1 {
  margin: 0;
  padding: 30px;
}

main {
  padding: 25px 0;
  margin-bottom: 20px;
  height: calc(75vh - 20px);
}

.options {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: (calc((75vh - 50px)/2))[2];
      grid-template-rows: repeat(2, calc((75vh - 50px)/2));
  grid-gap: 10px;
}

.cities {
  background-color: rgba(181, 131, 141, 0.8);
  border-top-left-radius: 5%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 130px 130px;
      grid-template-columns: 130px 130px;
  grid-row-gap: 25px;
  grid-column-gap: 25px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.cuisine {
  background-color: rgba(109, 104, 117, 0.8);
  opacity: 0.8;
  border-top-right-radius: 10%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 170px 130px;
      grid-template-columns: 170px 130px;
  grid-column-gap: 25px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: space-evenly;
      align-content: space-evenly;
}

.preferences {
  background-color: rgba(109, 104, 117, 0.8);
  border-bottom-left-radius: 10%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100px;
      grid-template-columns: 100px;
  grid-row-gap: 25px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.submission {
  background-color: rgba(181, 131, 141, 0.8);
  opacity: 0.8;
  border-bottom-right-radius: 5%;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.recommendation {
  display: none;
}

.recommendation h2 {
  padding: 20px 0;
}

.recommendation ul {
  padding: 20px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 2fr 2fr;
      grid-template-columns: 2fr 2fr 2fr;
  grid-column-gap: 50px;
  grid-row-gap: 50px;
}

footer {
  height: 5vh;
  background-color: #E5989B;
  opacity: 0.7;
}
