html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
}

*, *:before, *:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  width: calc(100vw - 50px);
  max-width: 1280px;
  margin: 0 auto;
}

body {
  background-image: url("../assets/brookeLarkHeader.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

h1 {
  font-family: "Raleway", sans-serif;
  font-size: 6.4rem;
  font-weight: 400;
  letter-spacing: 1.6px;
  color: #500808;
  text-align: right;
}

h2,
p,
footer,
.submit,
.recommendation li {
  font-family: "Quicksand", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 1.1px;
  color: #200202;
  text-align: center;
  list-style: none;
}

h2 a,
p a,
footer a,
.submit a,
.recommendation li a {
  padding: 5px 10px;
  text-decoration: none;
  color: #200202;
}

.recommendation li i {
  font-size: 2rem;
  background-color: transparent;
  color: #200202;
  position: static;
}

main div a {
  padding: 5px 10px;
}

.recommendation li a {
  font-size: 1.8rem;
  border-radius: 10px;
  margin-bottom: 10px;
}

.submit {
  font-size: 2rem;
  padding: 10px 40px;
  border-radius: 30px;
  background-color: #e5989b;
  border: 2px solid #b5838d;
  -webkit-box-shadow: 5px 5px #6d6875;
          box-shadow: 5px 5px #6d6875;
}

.submit:hover, .submit:focus, .submit:active {
  font-weight: bold;
  color: #500808;
  -webkit-box-shadow: 0 0 #6d6875;
          box-shadow: 0 0 #6d6875;
  background-color: #6d6875;
  border: 2px solid #6d6875;
}

footer p {
  text-align: right;
  padding: 5px 0;
}

a:hover,
a:focus,
a:active {
  padding: 5px 10px;
  background-color: rgba(181, 131, 141, 0.8);
  border-radius: 10px;
}

footer p a:hover,
footer p a:focus,
footer p a:active {
  background-color: transparent;
  border-radius: 0;
  border-bottom: 2px solid #500808;
}

.recommendation ul li img {
  border-radius: 10px;
  border: 5px solid #e5989b;
  -webkit-transition: border 0.2s;
  transition: border 0.2s;
  margin: 10px 0;
}

.recommendation ul li img:hover, .recommendation ul li img:active, .recommendation ul li img:focus {
  border: 5px solid #500808;
}

.submit:hover,
.submit:focus,
.submit:active {
  font-weight: bold;
  color: #500808;
  -webkit-box-shadow: 0 0 #6d6875;
          box-shadow: 0 0 #6d6875;
  background-color: #6d6875;
  border: 2px solid #6d6875;
}

header {
  height: 20vh;
}

header h1 {
  margin: 0;
  padding: 30px;
}

main {
  padding: 25px 0;
  position: relative;
}

main .icon {
  position: relative;
}

main .icon a {
  position: absolute;
  top: -60px;
  right: 10%;
}

main .icon a:hover, main .icon a:active, main .icon a:focus {
  background-color: transparent;
}

main .icon .resetIcon,
main .icon .calendarIcon {
  font-size: 2.5rem;
  text-align: center;
  color: #500808;
  background-color: rgba(181, 131, 141, 0.8);
  border-radius: 50%;
  padding: 10px;
}

main .icon .calendarIcon {
  position: absolute;
  top: -60px;
  right: 15%;
}

main .icon .resetIcon {
  position: absolute;
  top: 0;
  right: 0;
}

.options {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: (calc((75vh - 50px) / 2))[2];
      grid-template-rows: repeat(2, calc((75vh - 50px) / 2));
  grid-gap: 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.cities,
.cuisine,
.preferences {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  grid-row-gap: 30px;
  grid-column-gap: 10px;
  overflow: scroll;
  padding: 15px;
}

.cities label,
.cuisine label,
.preferences label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.cities label h2,
.cuisine label h2,
.preferences label h2 {
  padding: 5px;
}

.cities {
  background-color: rgba(181, 131, 141, 0.8);
  border-top-left-radius: 15px;
}

.cuisine {
  background-color: rgba(109, 104, 117, 0.8);
  border-top-right-radius: 15px;
}

.preferences {
  background-color: rgba(109, 104, 117, 0.8);
  border-bottom-left-radius: 15px;
  -ms-grid-columns: 100px;
      grid-template-columns: 100px;
}

.submission {
  background-color: rgba(181, 131, 141, 0.8);
  border-bottom-right-radius: 15px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 150px 50px;
      grid-template-columns: 150px 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  grid-row-gap: 10px;
}

.submission .calendarIcon {
  text-align: center;
}

.submission .calendarIcon i {
  position: static;
}

.recommendation {
  position: relative;
  background-color: #e5989b;
  overflow: scroll;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-radius: 15px;
  height: calc(75vh - 40px);
  margin-left: 30px;
  padding: 15px;
}

.recommendation h2 {
  padding: 20px 0;
}

.recommendation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.recommendation ul li {
  margin-bottom: 25px;
  margin-right: 15px;
  width: calc((100% - 30px) / 3);
}

.recommendation li {
  position: relative;
}

.recommendation li .information {
  background-color: rgba(181, 131, 141, 0.8);
  width: 100%;
  height: 85%;
  position: absolute;
  bottom: 15%;
  left: 0;
  padding: 10%;
  border-radius: 15px;
}

.recommendation li .information p {
  text-align: left;
  padding: 10px 0;
}

.recommendation li:nth-of-type(3n) {
  margin-right: 0;
}

.hiddenInfo {
  display: none;
}

.flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flexContainer .options {
  width: 100vw;
}

footer {
  min-height: 5vh;
  background-color: #e5989b;
  opacity: 0.7;
}

.animationCanvas {
  position: absolute;
  top: 0;
  left: -2.5%;
  width: 105%;
  height: calc(75vh - 40px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e5989b;
  border-radius: 50px;
  z-index: 1;
}

.tomatoContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40vw;
  min-width: 500px;
  height: 40vw;
  min-height: 500px;
}

img#tomato {
  width: 40%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transform: translate(-6px, 11px);
          transform: translate(-6px, 11px);
}

.draggable {
  position: absolute;
}

.calendar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: 15px;
  z-index: 1;
  width: calc(100vw - 30px);
}

.calendar a {
  font-family: "Raleway", sans-serif;
  color: #f5f5f5;
}

.calendarNav {
  text-align: center;
  color: #f5f5f5;
  background-color: #2c2c2e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  border-radius: 5px;
  padding: 10px;
  margin: 2px;
  width: 50vw;
  cursor: default;
}

.calendarNav h3 {
  font-family: "Raleway", sans-serif;
  font-size: 1.8rem;
  background-color: #2c2c2e;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
}

.calendarNav .fas {
  cursor: pointer;
}

.calendarDisplay {
  color: #f5f5f5;
  background-color: #3a3a3a;
  border-radius: 5px;
  margin: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
  height: 50vh;
  width: 50vw;
}

.calendarDisplay .dayHeading {
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.calendarDisplay .dayHeading h3 {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  background-color: #3a3a3a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 10px;
  width: 100%;
}

.calendarDisplay .dates {
  height: 90%;
}

.calendarDisplay .dates ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (calc(100% / 7))[7];
      grid-template-columns: repeat(7, calc(100% / 7));
  text-align: center;
  height: 100%;
  padding: 0;
  margin: 0;
  width: calc(50vw - 20px);
}

.calendarDisplay li {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-grid-columns: (12px)[2];
      grid-template-columns: repeat(2, 12px);
  cursor: pointer;
}

.calendarDisplay li:nth-child(n) {
  font-family: "Quicksand", sans-serif;
  font-size: 1.3rem;
  border: 1px solid #3a3a3a;
}

.calendarDisplay li .chosenDate {
  color: #2cac0c;
}

.timeSelection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateY(-200px);
          transform: translateY(-200px);
}

.timeSelection h3 {
  font-family: "Raleway", sans-serif;
  font-size: 4rem;
  color: #f5f5f5;
  background-color: #3a3a3a;
  display: block;
}

.timeSelection .meridiem {
  width: 80px;
}

#hourInput,
#minuteInput {
  font-size: 5rem;
  text-align: center;
  height: 90px;
  width: 90px;
}

#minuteInput {
  margin-right: 10px;
}

.submitButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  background-color: #f5f5f5;
  -webkit-transform: translateY(-170px);
          transform: translateY(-170px);
  height: 50px;
  width: 200px;
}

.submitButton h3 {
  color: #3a3a3a;
  font-family: "Quicksand", sans-serif;
  font-size: 3rem;
  text-transform: uppercase;
}

.hidden {
  display: none;
}

@media (max-width: 790px) {
  h1 {
    font-size: 4.8rem;
    padding: 40px;
  }
  main .icon .calendarIcon {
    right: 20%;
  }
  .cuisine {
    grid-row-gap: 15px;
  }
  .recommendation ul li {
    width: calc((100% - 15px) / 2);
  }
  .recommendation ul li:nth-of-type(2n) {
    margin-right: 0;
  }
  footer p {
    text-align: center;
    padding: 15px 0;
    font-size: 1.8rem;
  }
  footer p a {
    border-bottom: 2px solid transparent;
  }
  a:hover {
    padding: 5px 10px;
    background-color: transparent;
    border-radius: 10px;
  }
  .recommendation ul li img:hover {
    border-radius: 50%;
  }
  .submit:hover {
    font-weight: 400;
    padding: 10px 40px;
    border-radius: 30px;
    background-color: #e5989b;
    border: 2px solid #b5838d;
    -webkit-box-shadow: 5px 5px #6d6875;
            box-shadow: 5px 5px #6d6875;
  }
}

@media (max-width: 500px) {
  main .icon a {
    right: 65%;
  }
  main .icon .calendarIcon {
    right: 80%;
  }
  main .cities,
  main .cuisine {
    -ms-flex-line-pack: justify;
        align-content: space-between;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-row-gap: 5px;
  }
  main .submit,
  main .submit:hover {
    padding: 10px 20px;
  }
  main .recommendation ul li {
    padding: 15px;
    margin-right: 0;
    width: 100%;
  }
}
